body {
    background-color: antiquewhite;
    color: black;
    max-width: 800 px;
    width: 50%;
    margin-left: 10%;
    border: 1px solid green;

}

.div {
    border: 1px solid black ;
}

.article1 {
     text-align:center ;
     font-size: larger;
     font-family: 'Courier New';
     padding: 10%;
     border-radius: 15%;
}